form {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #008080;
  margin: 0 auto;
  width: 50%;
  height: auto;
  padding: 25px;  
  -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    behavior:url("border-radius.htc");   
  overflow: true;
}

input {
  margin: 5px;
  font-size: 14px;
}

input:invalid {
  background: #CCFFFF;
}

[column] {
  width: 25%;
  height: 100%;
  float: left;
  display: block;
}

button {
  float: right;
  font-size: 14px;
  margin: 15px;
  width: 10em;
  height: 2em;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 10px 5px 5px black;
}

label {
  color: #fff;
}

[clearfix]::after {
  content: "";
  display: table;
  clear: both;
}

div[formLine] {
  display: block;
}

@media screen and (max-width: 1200px) {
  [column] {width: 100%;}
}